@{
    
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            
            <p>
               Sistema de Entretenimiento Familiar
            </p>
        </div>
    </section>
}
