@{
    ViewBag.Title = "Registro Campo";
}

@using (Html.BeginForm("RegistrarCampo", "Campo", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    
    <div id="ContentRegion" class="container-fluid text-left">
        -- Registro de Campo --

        <div class="row-fluid">
            <div class="span5">
                <div class="control-group">
                    <label class="control-label" style="max-height: 200px;">
                        <label>Fecha:</label>
                    </label>
                    <div class="controls ctlreq" style="max-height: 200px;">
                        <input type="text" id="txtfecha" />
                    </div>
                </div>
            </div>

        </div>
        <div class="row-fluid">
            <div class="span4">
                <label class="control-label" style="max-height: 200px;">
                    <label>Lugar:</label>
                </label>
                <div class="controls" style="max-height: 200px;">
                    <input type="text" id="txtLugar" placeholder="Ingrese Lugar" />
                </div>
            </div>

        </div>
        <div class="row-fluid">
            <div class="span5">
                <div class="control-group">
                    <label class="control-label" style="max-height: 200px;">
                        <label>Numero de Personas:</label>
                    </label>
                    <div class="controls ctlreq" style="max-height: 200px;">

                        <input type="text" id="txtnropersonas" placeholder="Ingrese Numero de Personas" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <div id="ServicioContent" class="container-fluid text-left">
        -- Registro de Servicio --

        <div class="row-fluid">
            <div class="span5">
                <div class="control-group">
                    <label class="control-label" style="max-height: 200px;">
                        <label>Servicio:</label>
                    </label>
                    <div class="controls ctlreq" style="max-height: 200px;">

                        @Html.DropDownList("ddlservicio")
                    </div>

                </div>
            </div>

        </div>
        <div class="row-fluid">
            <div class="span4">
                <label class="control-label" style="max-height: 200px;">
                    <label>Numero de Personas:</label>
                </label>
                <div class="controls" style="max-height: 200px;">
                    <input type="text" id="txtpersonasservicio" placeholder="Ingrese Numero de Personas" />
                </div>
            </div>

        </div>
        <div class="row-fluid">
            <div class="span5">
                <div class="control-group">
                    <label class="control-label" style="max-height: 200px;">
                        <label>Description:</label>
                    </label>
                    <div class="controls ctlreq" style="max-height: 200px;">

                        <input type="text" id="txtdescription" placeholder="Ingrese Descripcion" />
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <input type="submit" value="Agregar" id="btnagregarservicios"/>
        </div>
    </div>
    
    <div id="JuegosContent" class="container-fluid text-left">
        -- Juegos --

        <div class="row-fluid">
            <div class="span5">
                <div class="control-group">
                    <label class="control-label" style="max-height: 200px;">
                        <label>Juego:</label>
                    </label>
                    <div class="controls ctlreq" style="max-height: 200px;">

                        @Html.DropDownList("ddljuego")
                    </div>

                </div>
            </div>

        </div>
        <div class="row-fluid">
            <div class="span4">
                <label class="control-label" style="max-height: 200px;">
                    <label>Numero de Personas:</label>
                </label>
                <div class="controls" style="max-height: 200px;">
                    <input type="text" id="txtpersonasjuegos" placeholder="Ingrese Numero de personas" />
                </div>
            </div>

        </div>
        <div class="row-fluid">
            <div class="span5">
                <div class="control-group">
                    <label class="control-label" style="max-height: 200px;">
                        <label>Description:</label>
                    </label>
                    <div class="controls ctlreq" style="max-height: 200px;">

                        <input type="text" id="txtdesjuegos" placeholder="Ingrese Descripcion" />
                    </div>
                </div>
            </div>

            <input type="submit" value="Agregar" id="btnagregarjuego"/>

        </div>
        <div class="row">
            <input type="submit" value="Grabar"/>
        </div>
    </div>
}