@{
    ViewBag.Title = "Index";
    
}

@Html.Partial("_Ofertas")

@section Scripts {
    <script>
        $(document).ready(function () {
            var timer, delay = 10000;
            timer = setInterval(function () {

                $.mobile.changePage(window.location.href, {

                    allowSamePageTransition: true,
                    transition: 'none',
                    reloadPage: true

                });

                //$.get('/ofertas/GetOfertas', {}, function (data) {
                //    //$('#contenedorofertas').html(data);
                //    //$('#myc').collapsible({ refresh: true });
                //    $('<div data-role="collapsible"><h3>wwerwerwerwe</h3><p>oferta imperdible kkkkk <br /></p></div>').appendTo('[data-role="content"]').page();
                //})

            }, delay);
        });
    </script>
}
