html{
	SCROLLBAR-FACE-COLOR:#2c5e99; /*006A9A*/
	SCROLLBAR-HIGHLIGHT-COLOR: #d2e1ff; /*6699CC*/
	SCROLLBAR-SHADOW-COLOR: #d2e1ff; /*6699CC*/
	SCROLLBAR-3DLIGHT-COLOR: #4caeda;/*FFFFFF*/
	SCROLLBAR-ARROW-COLOR: #4caeda; /*FFFFFF*/
	SCROLLBAR-TRACK-COLOR: #b8c9d0; /*8CB0C9*/
	SCROLLBAR-DARKSHADOW-COLOR: #004363; /*000000*/
}
body{ 
	border:0; 
	margin:0px; 
	padding:0px;
	background-image:url(../images/bg-body.png);
	background-repeat:repeat-x; background-position:top;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	SCROLLBAR-FACE-COLOR:#2c5e99; 
	SCROLLBAR-HIGHLIGHT-COLOR: #d2e1ff; 
	SCROLLBAR-SHADOW-COLOR: #d2e1ff; 
	SCROLLBAR-3DLIGHT-COLOR: #4caeda;
	SCROLLBAR-ARROW-COLOR: #4caeda; 
	SCROLLBAR-TRACK-COLOR: #b8c9d0; 
	SCROLLBAR-DARKSHADOW-COLOR: #004363; 
}
.cabecera{
	/*background-color:#FFFFFF;*/
	border-bottom:2px #004464 solid;
	min-height:5px !important;
	height:auto;
	width:100%;
	top:0px;
	position:fixed;
	padding-left:15px;
	padding-right:15px;
	background-color:#4D939F;
}
.titulo{
	left:0px;
	color:#fff;
	font-size:12px; font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	padding-top:3px;
	padding-bottom:3px;
}
.dtSesion{ /*086e9b*/
	margin-top:22px;
	/*background-image:url(../images/bg-sub-menu.png);*/
	background-repeat:repeat-x;
	background-position:top;
	background-color:#176171;
	height:55px;
	padding-top:8px;
	padding-left:10px;
	padding-right:10px;
	border-bottom:1px solid #60b2ff;
}
.dtSesion table tr td{
	color:#fff;
	font-size:12px;
}
.cuerpo{
	margin-top:10px;
	margin-bottom:40px;
	margin-left:20px;
	margin-right:20px;
	border:1px solid #bce;
	border-radius: 7px; 
	webkit-border-radius: 7px;
	moz-border-radius:7px;
	min-height:20px !important;
	min-width:375px !important;
	padding-top:10px; padding-bottom:8px; padding-left:10px; padding-right:10px;
}
.pie{
	background-color:#B94500;
	border-top:2px #bce solid;
	min-height:5px !important;
	height:auto;
	bottom:0px;
	position:fixed;
	width:100%;
	padding-left:15px;
	padding-right:15px;
	text-align:center;
	font:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#fff;
	padding-top:3px;
	padding-bottom:3px;
}
.cuadro{
	border:1px solid #bce;
	padding-top:8px; padding-bottom:8px;
	padding-left:20px; padding-right:20px;
	margin:3px;
	border-radius: 7px; 
	webkit-border-radius: 7px;
	moz-border-radius:7px;
	min-height: 20px !important;
	min-width: 60px !important;
	background-color:#ECF2F4;
}
.cuadro table tr td{
	padding-top:2px;
	padding-bottom:2px;
}
.label{
	color:#0066CC;
	font-size:12px;
	text-align:right;
	padding-right:15px;
}
.texto{
	border:1px solid #E4EDEF;
	font-size:11px;
	width:150px;
	color:#069;
	border-bottom:1px solid #bce;
	border-right:1px solid #bce;
}
.textoNumero{
	border:1px solid #E4EDEF;
	font-size:11px;
	width:150px;
	color:#069;
	border-bottom:1px solid #bce;
	border-right:1px solid #bce;
	text-align:right;
}
.textoFecha{
	border:1px solid #E4EDEF;
	font-size:11px;
	width:150px;
	color:#069;
	border-bottom:1px solid #bce;
	border-right:1px solid #bce;
	text-align:center;
}
.boton{
	border:1px solid #E4EDEF;
	background-color:#80B8C1;
	color:#FFF;
	width:100px;
	font-weight:bold;
	cursor:pointer;
}
.spComentario{
	font-size:10px;
	color:#888;
	padding-left:20px;
}
a{
	border:0px;
	text-decoration:none;
}
img{
	border:0px;
	text-decoration:none;
}
/******************************/
/*             MDI            */
/******************************/
.pestaniaTitulo{
	font-size:13px;
	margin-left:0px;
	margin-bottom:4px;
	color:#e3f1f1;
	font-weight:bold;
	padding:2px;
	padding-left:10px;
	background-color:#1b9e67;
	border-radius: 3px; 
	webkit-border-radius: 3px;
	moz-border-radius: 3px;
}
.spUsuario{
	font-size:18px;
}
.contenido{
	border-top:1px solid #E4EDEF; border-left:1px solid #E4EDEF; 
	border-bottom:1px solid #bce; border-right:1px solid #bce;
	border-radius: 5px; 
	webkit-border-radius: 5px;
	moz-border-radius: 5px;
	padding:3px;
}
.contenido  table tr td{
	padding-bottom:3px;
	padding-top:2px;
}
.opcionNuevo{
	float:right;
	position:relative;
	margin-top:0px;
	margin-right:10px;
}
.subModulo{
	font-weight:1px;
	color:#e3f1f1;
}
.bloqOperacion{
	border-top:1px solid #ccc;
	margin-top:10px;
	margin-left:20px;
	margin-right:20px;
	padding-top:5px; padding-bottom:5px;
	text-align:center;
	min-height:1px !important;
}
/******************************/
/*        MENU MODULAR        */
/******************************/
.optModule{
	float:left;
	position:relative;
	border-radius: 5px; 
	webkit-border-radius: 5px;
	moz-border-radius: 5px;
	margin:5px;
	margin-top:2px; margin-bottom:2px;
	border:1px solid #cce5f6;
	padding:3px;
	padding-left:5px; padding-right:5px;
	cursor:pointer;
}
.optModule table tr td{
	width:100px;	
}
.optModule #titulo{
	font-size:12px;
	text-align:center;
	padding-top:3px;
	padding-bottom:2px;
	border-bottom:1px solid #ccc;
	background-color:#fff;
}
.optModule #foto{
	text-align:center;
	padding-top:3px;
	padding-bottom:5px;
	background-color:#dee;
}
/******************************/
/*          GRILLAS           */
/******************************/
.cabGrilla{
	font-size:12px; font-weight:bold;
	color:#548183;
	background-color:#cce5f6;
	text-align:center;
	padding-top:2px; padding-bottom:2px;
}
.detGrilla{
	font-size:11px;
	padding:2px;
	border-right:1px solid #ede;
}
.detRechazado{
	background-color:#ffaed0;
}
.detAceptado{
	background-color:#d1ffce;
}
/******************************/
/*          FORMULARIO        */
/******************************/
.etiForm{
	text-align:left;
	font-size:12px;
	color:#004464;
}
.etiFormText{
	text-align:left;
}
/******************************/
/*           LEYENDA          */
/******************************/
.legenda{
	border:1px solid #ddd;
	padding-top:3px; padding-bottom:3px;
	padding-left:10px; padding-right:10px;
	float:right;
	position:relative;
	margin-bottom:3px;
}
.legenda #eti{
	width:60px;
	text-align:center;
}
.legenda table tr td{
	color:#069; font-size:10px;
}
